body{
    display: flex;
    justify-content: center;
    margin: 0;
}
H2{
    display: flex;
    justify-content: center;
}
.reg{
    background-color: chocolate;
    display: flex;
    flex-direction: column;
    padding: 5vw;
}
.avt{
    background-color: blue;
    display: flex;
    flex-direction: column;
    padding: 5vw;
    display: none;
}
.inpText{
    margin: 3px;
    padding: 5px;
    width: 20wv;
}
.but{
    margin: 5px;
    padding: 5px;
    width: 20vw;
}
.but1{
    margin: 5px;
    padding: 5px;
    width: 20vw;
}